@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --raisin-black: #2a201e;
  --bone: #ddd3c5;
}

body {
  background-color: var(--bone);
  color: var(--raisin-black);
}
